@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;1,200&display=swap');

body {
  font-family: 'Nunito', sans-serif;
  background: rgb(230, 207, 203);
}

.box {
  background: firebrick;
}

.title, .subtitle {
  color: floralwhite;
}

.block .title {
  text-align: center;
} 

.button {
  padding: 10%;
  color: gold;
}

.footer {
  background: rgb(230, 207, 203);
}