@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;1,200&display=swap');

body {
  font-family: 'Nunito', sans-serif;
  background: rgb(230, 207, 203);
}

.box {
  background: firebrick;
}

.block .title {
  text-align: center;
} 
div.hero.is-primary, div.box.is-primary {
  background-color: firebrick;
}

table td {
  text-align: center;
}
.button {
  padding: 10%;
  color: gold;
  position: relative;
}

.footer {
  color: white;
  background: firebrick;
}
footer a {
  color: yellow;
}